<% if error_messages.present? %>
  <div class="alert alert-error">
   <ul>
    <% error_messages.each do |error_message| %>
     <li><%= error_message %></li>
    <% end %>
   </ul>
  </div>
<% end %>