<% if gyoshu_division == 'HAISHUTSU' %><span class="label label-success">HAISHUTSU</span><% end %>
<% if gyoshu_division == 'UNPAN' %><span class="label label-collection-delivery">UNPAN</span><% end %>
<% if gyoshu_division == 'SHOBUN' %><span class="label label-disposal">SYOBUN</span><% end %>
<% if gyoshu_division == 'SHORI' %><span class="label label-warning">SHORI</span><% end %>
