
    <table>
      <tr>
        <td width = '75'><%= item.item %></td>
        <td width = '75'><%= item.suryo %></td>
        <td width = '75'><%= item.tanka %></td>
        <td width=40>
        <%= link_to "DeleteHaikibutsu", [item.contract, item], method: :delete,
                                  data: { confirm: "You sure?" } %>
      </tr>
    </table>